#container {
    display: grid;
    grid-template-rows: 0.5fr 5fr 0.5fr;
    height: 1000px;
    grid-template-areas: 'headergrid' 'bodygrid' 'footergrid';
}
#headergrid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
    padding-top: 23px;
    font-size: x-large;
    font-family: Lucida Calligraphy;
    background-color: #FBFBF2;
    color: #847575;
    border: 4px #CFD2CD solid;
    border-radius: 20px;
    width:100%;
  }
body{
    background-color: #E5E6E4;
}